name: Build, test and deploy  Main 02

on:
  push:
    branches: 
      - main
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    # This is still for the Laravel app
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # --- Backend (Laravel) ---
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      - name: Create database
        run: touch ./database/database.sqlite

      - name: Copy .env
        run: cp .env.test .env

      - name: Install app (runner)
        run: composer install --no-interaction --prefer-dist

      - name: Run migrations (runner)
        run: php artisan migrate

     # remove the phpstan test for just now
      # - name: Test PHPStan
      #   run: ./vendor/bin/phpstan analyse

      - name: Test PHPUnit
        run: ./vendor/bin/phpunit

      # --- Frontend (React / Vite) ---
      # defaults.run is ./backend, so we override working-directory per step

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Lint frontend
        working-directory: ./frontend
        run: npm run lint
      
      - name: Verfiy formatting
        working-directory: ./frontend
        run: npm run format:check
      # Add tests here if you have them
      # - name: Test frontend
      #   working-directory: ./frontend
      #   run: npm test
      
      - name: Build frontend
        working-directory: ./frontend
        run: npm run build

      # --- Deploy Backend ---
      - name: Deploy Backend using ssh
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e

            cd ${{ secrets.APP_PATH }} || { echo "Path not found: ${{ secrets.APP_PATH }}"; exit 1; }
            bash backend/deploy.sh
            echo "Backend deployed successfully"

      # --- Deploy Frontend (copy built files) ---
      - name: Deploy Frontend using SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          source: "frontend/dist/*"
          target: ${{ secrets.APP_PATH }}/frontend/
          strip_components: 1
          overwrite: true