name: Build, test and deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
 
      - name: Create database
        run: touch ./database/database.sqlite
  
      - name: Copy .env
        run: cp .env.test .env

      - name: Install app
        run: composer install
 
      - name: Run migrations
        run: php artisan migrate
 
      - name: Test PHPStan
        run: ./vendor/bin/phpstan analyse

      - name: Test PHPUnit
        run: ./vendor/bin/phpunit

      - name: Deploy using ssh
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: 145.14.156.90
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
              cd ${{ secrets.APP_PATH }}
                        
              echo "Running deploy script"

              echo "[1/5] Pulling from GitHub"
              git pull origin

              echo "[2/5] Creating database if one isn't found"
              touch database/database.sqlite

              echo "[3/5] Installing packages using composer"
              composer install

              echo "[4/5] Publishing API Platform assets"
              php artisan api-platform:install

              echo "[5/5] Migrating database"
              php artisan migrate --force

              echo "The app has been built and deployed!"

