name: Build, test and deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
 
      - name: Create database
        run: touch ./database/database.sqlite
  
      - name: Copy .env
        run: cp .env.test .env

      - name: Install app
        run: composer install
 
      - name: Run migrations
        run: php artisan migrate
 
      - name: Test PHPStan
        run: ./vendor/bin/phpstan analyse

      - name: Test PHPUnit
        run: ./vendor/bin/phpunit

      - name: Deploy using ssh
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: 145.14.156.90
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 65002
          script: |
            cd /home/u749335993/domains/nehaddev.com/public_html
            ./build.sh
